<header>  
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: #edf1f5;">
    <img src="/assets/images/logo.JPG" alt="" class="">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" routerLink="">E D U F R E E</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-flex flex-row-reverse" id="navbarText" >
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/programas">Programas Académicos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" >Admisiones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Registro</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/login">LOGIN</a>
          </li>
        </ul>
        <!--<span class="navbar-text">
          Navbar text with an inline element
        </span>-->
      </div>
    </div>
  </nav>
  <!--<div class="cls-barras">   
    <ul>
      <li><a class="text-reset fw-bold" href=""><h2>EDUFREE</h2></a></li>  
      <li><a class="text-reset fw-bold" href="">La Universidad</a></li>
      <li><a class="text-reset fw-bold" href="">Programas Académicos</a></li>
      <li><a class="text-reset fw-bold" href="">Admisiones</a></li>
      <li><a class="text-reset fw-bold" href="">Registro</a></li>
      <li><a class="text-reset fw-bold" href="">LOGIN</a></li>
    </ul>  
  </div>-->
</header>

<div class="p-4">
  <div>
    <!--<app-login></app-login>-->
    <router-outlet></router-outlet>
  </div>
</div>

<footer>
  <nav class="navbar fixed-bottom navbar-expand-lg navbar-dark bg-dark" style="background-color: #7f8285;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Copyright © 2021 Universidad Edufree</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-flex flex-row-reverse" id="navbarText">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Aviso de privacidad</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Publicaciones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contacto</a>
          </li>
        </ul>
        <!--<span class="navbar-text">
          Navbar text with an inline element
        </span>-->
      </div>
    </div>
  </nav>
  <!--<div class="cls-barras cls-footer">   
    <ul>
      <li><a class="text-reset fw-bold" href="">Copyright © 2021 Universidad Edufree</a></li>  
      <span class="navbar-text">
        <div class="cls-barras">
        <li><a class="text-reset fw-bold" href="">Aviso de privacidad</a></li>
      <li><a class="text-reset fw-bold" href="">Publicaciones</a></li>
      <li><a class="text-reset fw-bold" href="">Contacto</a></li>
      </div>
    </span>
    </ul>  
  </div>-->
</footer>

 <!--
  <nav class="navbar navbar-dark bg-primary">
      <h6>E D U F R E E</h6>
  </nav> 
  <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
      style="background-color: rgba(0, 0, 0, 0.2);"
    <div class="text-reset fw-bold ">

              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
        </ul>
         
        <div class="m-5">
    --> 