<img src="/assets/images/universidad2.JPG" alt="" class="cls-image-universidad">

<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h2>Administrador</h2>
        </div>
        <ul class="list-unstyled components">
            
            <!--<li>
                <a href="homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="">Home 1</a>
                    </li>
                    <li>
                        <a href="">Home 2</a>
                    </li>
                    <li>
                        <a href="">Home 3</a>
                    </li>
                </ul>
            </li>-->
            <li>
                <a href="http://localhost:4200/estudiantes" >Estudiantes</a>
            </li>
            <!--<li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a href="#">Page 1</a>
                    </li>
                    <li>
                        <a href="#">Page 2</a>
                    </li>
                    <li>
                        <a href="#">Page 3</a>
                    </li>
                </ul>
            </li>-->
            <li>
                <a href="#">Docentes</a>
            </li>
            <li>
                <a href="http://localhost:4200/pacademicos" >Programas</a>
            </li>
        </ul>
    </nav>
</div>


<!--<header>  
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: #7f8285;">
      <img src="/assets/images/logo.JPG" alt="" class="">
      <div class="container-fluid">
        <a class="navbar-brand" href="#" routerLink="">EDUFREE (Administrador)</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">Docentes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" routerLink="/programas">Programas Académicos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Estudiantes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" routerLink="/login">LOGOUT</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
</header>

-->